@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");



* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Poppins", sans-serif;
    background-image: url("./res/haut_a1_fr.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;background-size: cover;
    
  }
  *{transition:all 0.3s ease-in-out;}

  .container{
    clear:both;
    overflow:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav{float:right;}
  
  .logo img{float: left;}
  
  ul li{
    display: inline-block; padding:25px;
    font-size:35px; font-family:Poppins;
  }
  
  ul li:hover{
    color:rgb(255, 255, 255);
    
  }
  h1 {
      justify-content: center;
      padding: 10%;
  }
